{% extends 'layout.html.twig' %}

{% block body %}
    <div class="heading-page">
        <div class="container">
            <div class="col-md-12">
                <h2>Registrarse</h2>
                <div class="line-dec"></div>
            </div>
        </div>
    </div>

    <div class="contact-form">
        <div class="container-fluid">
            <div class="col-md-4">
                <div class="text-content">
                    <div class="inside-content">
                        <h4>Sed eget interdum turpis. Donec eleifend auctor ligula vel bibendum. Donec placerat ante enim.</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="right-content">
                    <div id="contact">
                    <form action="{{ path('recibe-page') }}" method="post">
                        <div class="col-md-4 col-md-offset-2">
                            <fieldset>
                                <input name="name" type="text" class="form-control" id="name" placeholder="Your name..." required="">
                            </fieldset>
                        </div>
                        <div class="col-md-4">
                            <fieldset>
                                <input name="email" type="text" class="form-control" id="email" placeholder="Email..." required="">
                            </fieldset>
                        </div>
                        <div class="col-md-4">
                            <fieldset>
                                <input name="password" type="text" class="form-control" id="password" placeholder="Your password..." required="">
                            </fieldset>
                        </div>
                        <div class="col-md-8 col-md-offset-2">
                            <fieldset>
                                <button type="submit" id="form-submit" class="btn">Iniciar  sesion</button>
                            </fieldset>
                        </div> 
                    </form>
                    </div>                
                </div>
            </div>
            


    


    {% endblock %}